<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin/create}" th:object="${user}">
    <label for="username">Enter username:</label>
    <input type="text" th:field="*{username}" id="username"/>
    <label for="password">Create password:</label>
    <input type="text" th:field="*{password}" id="password"/>
    <label for="email">Enter email:</label>
    <input type="text" th:field="*{email}" id="email"/>
    <br/>
    <input type="submit" value="Add!">
</form>
<form th:method="POST" th:action="@{/logout}">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>